h1{
    text-transform: capitalize;
    font-weight: bold;
}

h2.yellow{
text-transform: uppercase;
color:goldenrod;
text-shadow: 2px 2px;
}

h2.green{
    text-transform: capitalize;
    color:green;  
    text-shadow: 5px 5px 10px blue; 
}