p.fantasy{
    font-family: fantasy;
}

p.arial{
    font-family: Arial, Helvetica, sans-serif;
}

p.websafe{
    font-family:Ari, Verdana, Geneva, Tahoma, sans-serif;
}

p.tangerine{
    font-family: tangerine;
    font-size: 50px;
}